{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>

      

      
    </style>

    <div class="whole-body">
            <div class="signup-container" id="signup-container">
            <h2 style="color: white">Signup</h2>
            <form class="signup-form" method="post">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="error" style="color: red;">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            <div class="error" style="color: red;">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit">Signup</button>
            </form>
        
            <p class="or">
                OR
            </p>
            
            <a class="login-button" href="{% url 'login' %}">Login</a>
        </div>
    </div>
    
    

{% endblock %}