
    <style>
      body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      

    </style>
    <div class="sidebar" id="sidebar">
      <div class="sidebar-header">
        <a href="#"
          ><img src="/static/image/Logo.svg" alt="" style="width: 40%"
        /></a>
      </div>
      <ul class="side-ul">
        <li><a href="{% url "personal_list_folder" %}">My layers</a></li>
        <li><a href="{% url "list_folders" %}">All Layers</a></li>
        <li><a href="{% url "profile" %}?filter_image=bought">Bought NFT</a></li>
        <li><a href="{% url "profile" %}?filter_image=sale">On Sale NFT</a></li>
          <li><a href="{% url 'creating-file-view' %}" >Upload Folder</a></li>
        <li><a href="{% url 'generate_and_mint_nfts' %}">Generate Images</a></li>
        </ul>

      </ul>
    </div>

    <div class="toggle-btn" onclick="toggleSidebar()">
      <div class="toggle-icon"></div>
    </div>

    <script>
      function toggleSidebar() {
        const sidebar = document.getElementById('sidebar');
        sidebar.classList.toggle('show');
      }
    </script>
