{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="live-stream" style="margin-top: 200px; margin-left: 100px; margin-right: 100px;">
    <div class="col-lg-12">
              <div class="heading-section">
                <h4><em>Most Popular</em> Layers</h4>
              </div>
            </div>
            <div class="row">
              {% for folder in folders %}
                      <div class="col-lg-3 col-sm-6">
                        <div class="item">
                          <div class="thumb">
                            <div class="hover-effect">
                              <div class="content">
                                <div class="live">
                                  <a href="#">watch</a>
                                </div>
                                <ul>
                                  <li><a href="#"><i class="fa fa-eye"></i> 1.2K</a></li>
                                  <li><a href="#"><i class="fa fa-gamepad"></i> {{ folder.name }}</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                             <a href="{% url "view_list_images" folder.pk %}">
                          <div class="down-content">
                            <div class="avatar">
                              <img src="https://ipfs.io/ipfs/{{ folder.ipfs_image_hash }}" alt="Generated Image">
                            </div>
                            <span><i class="fa fa-check"></i> {{ folder.user.username }}</span>
                            <h4>{{ folder.name }}</h4>
                          </div> 
                                    </a>
                        </div>
                      </div>
               
              {% endfor %}
                 
              <div class="col-lg-12">
                <div class="main-button">
                  <a href="streams.html">Load More Streams</a>
                </div>
              </div>
            </div>
          </div>
{% endblock %}
