{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="generate_image_body">
        <div class="dropbtn" style="margin-top: 200px; width: 600px">
            <h2>Generated Images for Folder {{ folder_id }}</h2>
            <form method="post" novalidate>
                {% csrf_token %}
                
                    {{ form }}
               
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    
    
{% endblock %}
