{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-content">
                <div class="most-popular">
                    <h2>{{ folder.name }}</h2>
                    <p>Owned by: {{ folder.user.username }}</p>
                    <div>
                        <h3>Folder Image:</h3>
                        <img src="https://lime-rapid-mandrill-910.mypinata.cloud/ipfs/{{ folder.ipfs_hash }}" style="width: 200px; height: 200px;" alt="Generated Image">
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            {% if images %}
                            <div class="heading-section">
                                <h4><em>Most Popular</em> Right Now</h4>
                            </div>
                            <div class="row">
                                {% for image in images %}
                                <div class="col-lg-3 col-sm-6">
                                    <div class="item">
                                        <img src="https://lime-rapid-mandrill-910.mypinata.cloud/ipfs/{{ image.ipfs_hash }}" alt="Generated Image">
                                        <a href="{% url "mint_nft" image.pk %}">Mint NFT</a>
                                        <h4>Image Information</h4>
                                        <div class="actions" style="right: 10px; bottom: 10px;">
                                            <a href="javascript:void(0);" class="like-button" id="like-button-{{ image.id }}" data-id="{{ image.id }}" style="width: 20px;">
                                                <i class="fa-solid fa-thumbs-up"></i>
                                            </a>
                                            <span id="like-count-{{ image.id }}">{{ image.total_likes }}</span>
                                            <a href="javascript:void(0);" class="dislike-button" id="dislike-button-{{ image.id }}" data-id="{{ image.id }}" style="width: 20px;">
                                                <i class="fa-solid fa-thumbs-down"></i>
                                            </a>
                                            <span id="dislike-count-{{ image.id }}">{{ image.total_dislikes }}</span>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% else %}
                            <h1>Currently not images minted</h1>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="main-button">
                            <a href="browse.html">Discover Popular</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 <script>
{#        console.log("fuck it")#}
{#        let web;#}
{#        let address;#}
{#        #}
{##}
{#  async function connectMetaMask() {#}
{#    if (window.ethereum) {#}
{#        web3 = new Web3(window.ethereum);#}
{#        try {#}
{#            await window.ethereum.request({ method: 'eth_requestAccounts' });#}
{#            userAddress = window.ethereum.selectedAddress;#}
{#        } catch (error) {#}
{#            console.error(error);#}
{#        }#}
{#    } else {#}
{#        alert('MetaMask is not installed. Please install it to use this app.');#}
{#    }#}
{#}#}
{##}
{#async function mintNFT(ipfsHash) {#}
{#    if (!web3 || !userAddress) {#}
{#        alert('Connect with MetaMask first');#}
{#        return;#}
{#    }#}
{##}
{#    const response = await fetch('/get_contract_data/');#}
{#    const data = await response.json();#}
{#    const contract = new web3.eth.Contract(data.abi, data.address);#}
{##}
{#    try {#}
{#        const gasEstimate = await contract.methods.createCollectable(`ipfs://${ipfsHash}`).estimateGas({ from: userAddress });#}
{#        const tx = {#}
{#            from: userAddress,#}
{#            to: data.address,#}
{#            gas: gasEstimate,#}
{#            data: contract.methods.createCollectable(`ipfs://${ipfsHash}`).encodeABI()#}
{#        };#}
{#        const txHash = await window.ethereum.request({#}
{#            method: 'eth_sendTransaction',#}
{#            params: [tx],#}
{#        });#}
{#        alert(`Transaction sent: ${txHash}`);#}
{#    } catch (error) {#}
{#        console.error(error);#}
{#        alert('Error sending transaction');#}
{#    }#}
{#}#}
{##}
{#async function buyNFT(ipfsHash) {#}
{#    if (!web3 || !userAddress) {#}
{#        alert('Connect with MetaMask first');#}
{#        return;#}
{#    }#}
{##}
{#    const response = await fetch('/get_contract_data/');#}
{#    const data = await response.json();#}
{#    const contract = new web3.eth.Contract(data.abi, data.address);#}
{##}
{#    try {#}
{#        const price = await contract.methods.price().call();#}
{#        const gasEstimate = await contract.methods.buyCollectable(`ipfs://${ipfsHash}`).estimateGas({ from: userAddress, value: price });#}
{#        const tx = {#}
{#            from: userAddress,#}
{#            to: data.address,#}
{#            gas: gasEstimate,#}
{#            value: price,#}
{#            data: contract.methods.buyCollectable(`ipfs://${ipfsHash}`).encodeABI()#}
{#        };#}
{#        const txHash = await window.ethereum.request({#}
{#            method: 'eth_sendTransaction',#}
{#            params: [tx],#}
{#        });#}
{#        alert(`Transaction sent: ${txHash}`);#}
{#    } catch (error) {#}
{#        console.error(error);#}
{#        alert('Error sending transaction');#}
{#    }#}

        
        $(document).ready(function() {
    $('.like-button').click(function() {
        console.log("fuck o t")
        var image_id = $(this).data('id');
        $.ajax({
            url: '/like_image/' + image_id + '/',
            type: 'POST',
            dataType: 'json',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                $('#like-count-' + image_id).text(response.total_likes);
                $('#dislike-count-' + image_id).text(response.total_dislikes);
                if (response.liked) {
                    $('#like-button-' + image_id).addClass('liked');
                    $('#dislike-button-' + image_id).removeClass('disliked');
                } else {
                    $('#like-button-' + image_id).removeClass('liked');
                }
            }
        });
    });

    $('.dislike-button').click(function() {
        var image_id = $(this).data('id');
        $.ajax({
            url: '/dislike_image/' + image_id + '/',
            type: 'POST',
            dataType: 'json',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                $('#dislike-count-' + image_id).text(response.total_dislikes);
                $('#like-count-' + image_id).text(response.total_likes);
                if (response.disliked) {
                    $('#dislike-button-' + image_id).addClass('disliked');
                    $('#like-button-' + image_id).removeClass('liked');
                } else {
                    $('#dislike-button-' + image_id).removeClass('disliked');
                }
            }
        });
    });
});

    </script>

{% endblock %}