{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    position: relative;
  }


  @keyframes zoomIn {
    from {
      transform: scale(0);
    }

    to {
      transform: scale(1);
    }
  }

  .crd {
    max-width: 258px;
    width: 100%;
    height: 331px;
    border-radius: 10px;
    margin-bottom: 190px;
  }
  .crd-bottom {
    background-color: #373943;
    padding: 10px;
    border-radius: 0 0 10px 10px;
  }
  .crd-top img {
    display: block; /* Ensure no extra space below the image */
    width: 100%;
  }
  .crd-top,
  .crd-bottom {
    width: 100%;
  }
  .bottom-b {
    display: flex;
    justify-content: space-between;

    padding-top: 30px;
  }
  .bottom-b span {
    border: 1px solid #38f2af;
    border-radius: 50px;
    padding: 3px 5px;
  }
  img {
    width: 100%;
  }
  .button {
  isolation: isolate;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid hsl(0, 0%, 10%);
  border-radius: 9999rem;
  background: transparent;
  position: relative;
  cursor: pointer;
  outline: 2px solid transparent;
  outline-offset: 2px;

  & > .bg-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-radius: inherit;
    position: absolute;
    inset: 0;
    overflow: hidden;
    z-index: -1;

    & > .bg-circle {
      width: 150%;
      aspect-ratio: 1;
      background: white;
      border-radius: 50%;
      position: absolute;
      transform: translate(60%, 60%);
      filter: blur(60px);
      transition: 500ms ease;
    }
  }

  & > .front {
    color: hsl(0deg, 0%, 60%);
    padding-block: 12px;
    padding-inline: 24px 120px;
    border-radius: inherit;
    transition: 200ms ease;
  }

  &:is(:hover, :focus) {
    & .bg-circle {
      transition: transform 1s ease;
      transform: translate(0, 0);
    }

    & > .front {
      color: hsl(0deg, 0%, 10%);
    }
  }

  &:focus-visible {
    outline-color: white;
  }
}
body.modal-open {
    overflow: hidden;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 60px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.9); 
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.blurred-background {
    filter: blur(5px);
}
</style>
<div class="container">
  <section class="crd-cont">
    {% if images %}
    <div class="row">
      {% for image in images %}
      <div class="col-md-4 mb-4">
        <div class="crd">
          <div class="crd-top">
            <img
                id="triggerModal-{{ image.id }}"
                src="https://lime-rapid-mandrill-910.mypinata.cloud/ipfs/{{ image.ipfs_hash }}"
                alt="Generated Image"
                data-image-url="https://lime-rapid-mandrill-910.mypinata.cloud/ipfs/{{ image.ipfs_hash }}"
                data-image-id="{{ image.id }}"
                style="width: 100%; max-width: 300px; cursor: pointer;"
              />
          </div>
          <div class="crd-bottom">
            <div class="bottom-t">
              <h3 style="color: #38f2af">Mirror Class Effect</h3>
              <p>Pixart motion</p>
            </div>
            <div class="bottom-b">
              <p style="color: #38f2af">Fixed price</p>
              <span style="color: #38f2af">{{ image.price }}
                 <i class="fa-brands fa-ethereum"></i>
              </span>
            </div>
            {% if image.user == request.user and not image.tx_hash %}
                <button class="button" onclick="handleMintNFT('{{ image.ipfs_hash }}', {{ image.id }}, '{{ image.price }}')">
                    <div class="bg-container">
                      <div class="bg-circle"></div>
                    </div>
                    <div class="front">
                      <span>Mint NFT</span>
                    </div>
                </button>

            {% elif image.tx_hash and image.user != request.user %}
                  <button class="button" onclick="handleBuyNFT('{{ image.token_id }}', {{ image.id }})">
                    <div class="bg-container">
                      <div class="bg-circle"></div>
                    </div>
                    <div class="front">
                      <span>Buy NFT</span>
                    </div>
                </button>
            {% elif not image.tx_hash and image.user != request.user %}
            <button type="button" class="btn btn-warning">Warning</button>
            {% else %}
            <button type="button" class="btn btn-success">Owned</button>
            {% endif %}

            <div class="actions" style="right: 10px; bottom: 10px">
              <a
                href="javascript:void(0);"
                class="like-button"
                id="like-button-{{ image.id }}"
                data-id="{{ image.id }}"
                style="width: 20px"
              >
                <i class="fa-solid fa-thumbs-up"></i>
              </a>
              <span id="like-count-{{ image.id }}"
                >{{ image.total_likes }}</span
              >
              <a
                href="javascript:void(0);"
                class="dislike-button"
                id="dislike-button-{{ image.id }}"
                data-id="{{ image.id }}"
                style="width: 20px"
              >
                <i class="fa-solid fa-thumbs-down"></i>
              </a>
              <span id="dislike-count-{{ image.id }}"
                >{{ image.total_dislikes }}</span
              >
            </div>
          </div>
        </div>
      </div>
       <div id="myModal-{{ image.id }}" class="modal" data-image-id="{{ image.id }}">
        <span class="close" id="close-{{ image.id }}">&times;</span>
        <img class="modal-content" id="img01-{{ image.id }}" src="" />
        <form action="{% url 'delete_image' image.id %}" method="POST" style="display: inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">
                <i class="fa-solid fa-trash"></i>
            </button>
        </form>
    </div>
      {% endfor %}
    </div>
    {% else %}
    <h1>Currently no images minted</h1>
    {% endif %}
  </section>
</div>

<script>
  let web3;
  let userAddress;

  async function connectMetaMask() {
    if (window.ethereum) {
      web3 = new Web3(window.ethereum);
      try {
        const accounts = await window.ethereum.request({
          method: 'eth_requestAccounts',
        });
        userAddress = accounts[0];
        console.log('Connected to MetaMask with address:', userAddress);
        sendAccountToServer(userAddress);
      } catch (error) {
        console.error('Error connecting to MetaMask:', error);
      }
    } else {
      alert('MetaMask is not installed. Please install it to use this app.');
    }
  }

  async function fetchContractData() {
    try {
      const response = await fetch('/get_contract_data/');
      const data = await response.json();
      if (!data.abi || !data.address) {
        throw new Error('Invalid contract data');
      }
      return data;
    } catch (error) {
      console.error('Error fetching contract data:', error);
      throw error;
    }
  }

  async function mintNFT(ipfsHash, contract, imageId, priceInWei) {
    try {
      if (!userAddress) {
        throw new Error(
          'User address is not defined. Please connect to MetaMask.'
        );
      }
      if (!ipfsHash || typeof ipfsHash !== 'string' || ipfsHash.length === 0) {
        throw new Error('Invalid IPFS hash provided.');
      }
      if (!priceInWei || isNaN(priceInWei) || priceInWei <= 0) {
        throw new Error('Price must be set and greater than zero.');
      }

      const gasEstimate = await contract.methods
        .createCollectable(`ipfs://${ipfsHash}`, priceInWei)
        .estimateGas({ from: userAddress });

      const options = {
        from: userAddress,
        gas: web3.utils.toHex(gasEstimate) + 1,
        gasPrice: web3.utils.toHex(web3.utils.toWei('20', 'gwei')),
      };

      const transaction = await contract.methods
        .createCollectable(`ipfs://${ipfsHash}`, priceInWei)
        .send(options);
      Swal.fire({
        title: 'Transaction Sent!',
        text: `Transaction sent: ${transaction.transactionHash}`,
        icon: 'success',
        confirmButtonText: 'OK',
      });

      const receipt = await web3.eth.getTransactionReceipt(
        transaction.transactionHash
      );
      if (receipt && receipt.status) {
        console.log('Transaction successful with receipt:', receipt);
        const eventSignature = web3.utils.sha3(
          'CollectableCreated(uint256,string,address,uint256)'
        );
        const collectableCreatedEvent = receipt.logs.find(
          log => log.topics[0] === eventSignature
        );
        if (collectableCreatedEvent) {
          const tokenId = web3.eth.abi.decodeParameter(
            'uint256',
            collectableCreatedEvent.topics[1]
          );
          // Convert priceInWei back to Ether for consistency in updateTransactionHash
          const priceInEther = web3.utils.fromWei(priceInWei, 'ether');
          await updateTransactionHash(
            imageId,
            transaction.transactionHash,
            userAddress,
            tokenId,
            priceInEther
          );
        } else {
          console.warn(
            'CollectableCreated event not found in receipt:',
            receipt
          );
        }
        return receipt;
      } else {
        throw new Error('Transaction failed with no success status.');
      }
    } catch (error) {
      console.error('Error minting NFT:', error);
      Swal.fire({
      title: 'Error minting NFT!',
      text: `The transaction was canceled`,
      icon: 'warning',
      confirmButtonText: 'OK',
    });
    }
  }

  async function handleMintNFT(ipfsHash, imageId, price) {
    if (!web3 || !userAddress) {
      alert('Connect with MetaMask first');
      return;
    }

    try {
      const data = await fetchContractData();
      console.log('Fetched contract data:', data); // Debugging line to check data
      const contract = new web3.eth.Contract(data.abi, data.address);
      const priceInWei = web3.utils.toWei(price.toString(), 'ether');
      await mintNFT(ipfsHash, contract, imageId, priceInWei);
    } catch (error) {
      console.error('Error during handleMintNFT:', error);
      alert(`Error: ${error.message}`);
    }
  }

  async function buyNFT(tokenId, contract, imageId, priceInWei) {
    try {
      if (!userAddress) {
        throw new Error(
          'User address is not defined. Please connect to MetaMask.'
        );
      }

      const gasEstimate = await contract.methods
        .purchaseCollectable(tokenId)
        .estimateGas({ from: userAddress, value: priceInWei });

      const options = {
        from: userAddress,
        gas: web3.utils.toHex(gasEstimate),
        gasPrice: web3.utils.toHex(web3.utils.toWei('20', 'gwei')),
        value: priceInWei,
      };

      const transaction = await contract.methods
        .purchaseCollectable(tokenId)
        .send(options);
      Swal.fire({
        title: 'Transaction Sent!',
        text: `Transaction sent: ${transaction.transactionHash}`,
        icon: 'success',
        confirmButtonText: 'OK',
      });

      const receipt = await web3.eth.getTransactionReceipt(
        transaction.transactionHash
      );
      if (receipt && receipt.status) {
        console.log('Transaction successful with receipt:', receipt);
        await updateTransactionHash(
          imageId,
          transaction.transactionHash,
          userAddress,
          tokenId,
          web3.utils.fromWei(priceInWei, 'ether')
        );
        return receipt;
      } else {
        throw new Error('Transaction failed with no success status.');
      }
    } catch (error) {
      console.error('Error buying NFT:', error);
      alert(`Error buying NFT: ${error.message || JSON.stringify(error)}`);
    }
  }

  async function handleBuyNFT(tokenId, imageId) {
    if (!web3 || !userAddress) {
      alert('Connect with MetaMask first');
      return;
    }

    try {
      const data = await fetchContractData();
      console.log('Fetched contract data:', data); // Debugging line to check data
      const contract = new web3.eth.Contract(data.abi, data.address);

      // Fetch the price in Wei for the given tokenId
      const priceInWei = await contract.methods.tokenPrices(tokenId).call();

      await buyNFT(tokenId, contract, imageId, priceInWei);
    } catch (error) {
      console.error('Error during handleBuyNFT:', error);
      alert(`Error: ${error.message}`);
    }
  }

  async function updateTransactionHash(
    imageId,
    txHash,
    ownerAddress,
    tokenId,
    price
  ) {
    try {
      const data = {
        tx_hash: txHash,
        owner_address: ownerAddress,
        token_id: tokenId,
        price: price, // Send price in Ether
      };
      console.log('Data being sent:', data);

      const response = await fetch(`/update_image/${imageId}/`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': getCookie('csrftoken'),
        },
        body: JSON.stringify(data),
      });
      if (!response.ok) {
        throw new Error('Failed to update transaction hash');
      } else {
        console.log('Transaction hash updated successfully');
      }
    } catch (error) {
      console.error('Error updating transaction hash:', error);
    }
  }

  $(document).ready(function () {
    $('.like-button').click(function () {
      var image_id = $(this).data('id');
      $.ajax({
        url: '/like_image/' + image_id + '/',
        type: 'POST',
        dataType: 'json',
        data: {
          csrfmiddlewaretoken: '{{ csrf_token }}',
        },
        success: function (response) {
          $('#like-count-' + image_id).text(response.total_likes);
          $('#dislike-count-' + image_id).text(response.total_dislikes);
          if (response.liked) {
            $('#like-button-' + image_id).addClass('liked');
            $('#dislike-button-' + image_id).removeClass('disliked');
          } else {
            $('#like-button-' + image_id).removeClass('liked');
          }
        },
      });
    });

    $('.dislike-button').click(function () {
      var image_id = $(this).data('id');
      $.ajax({
        url: '/dislike_image/' + image_id + '/',
        type: 'POST',
        dataType: 'json',
        data: {
          csrfmiddlewaretoken: '{{ csrf_token }}',
        },
        success: function (response) {
          $('#dislike-count-' + image_id).text(response.total_dislikes);
          $('#like-count-' + image_id).text(response.total_likes);
          if (response.disliked) {
            $('#dislike-button-' + image_id).addClass('disliked');
            $('#like-button-' + image_id).removeClass('liked');
          } else {
            $('#dislike-button-' + image_id).removeClass('disliked');
          }
        },
      });
    });
    
      var modal = $(".modal");
    var modalImg = $(".modal-content");
    var closeBtn = $(".close");

    console.log("Modal elements assigned");

    $("img").click(function() {
        var img = $(this);
        var imageUrl = img.data("image-url");
        var imageId = img.data("image-id");

        console.log("Image clicked", imageId, imageUrl);

        $.ajax({
            url: imageUrl, // Use the image URL from the data attribute
            type: "GET",
            success: function(data) {
                console.log("AJAX request successful");
                modalImg.attr("src", imageUrl);
                modal.filter('[data-image-id="' + imageId + '"]').show();
                $("body").addClass("modal-open");
            },
            error: function() {
                console.error("Image could not be loaded.");
            }
        });
    });

    closeBtn.click(function() {
        console.log("Close button clicked");
        modal.hide();
        $("body").removeClass("modal-open");
    });

    $(window).click(function(event) {
        if ($(event.target).is(modal)) {
            console.log("Click outside modal detected");
            modal.hide();
            $("body").removeClass("modal-open");
        }
    });
    connectMetaMask();
  });

  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === name + '=') {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  function sendAccountToServer(account) {
    fetch('/api/save_account/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': getCookie('csrftoken'),
      },
      body: JSON.stringify({ account: account }),
    })
      .then(response => response.json())
      .then(data => console.log('Success:', data))
      .catch(error => console.error('Error:', error));
  }

  
</script>

{% endblock %}
