{% extends 'base.html' %}

{% block content %}
    <style>

       .container {
            position: relative;
        }



        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-color: rgba(0,0,0,0.9);
            backdrop-filter: blur(5px);
            align-items: center;
            justify-content: center;
        }

        .modal-content {
            max-width: 100%;
            max-height: 100%;
            margin: auto;
            display: block;
            width: auto;
            height: auto;
            animation: zoomIn 3s;
        }

        @keyframes zoomIn {
            from {transform: scale(0);}
            to {transform: scale(1);}
        }

    </style>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-content">
                <div class="most-popular">
                    <h2>{{ folder.name }}</h2>
                    <p>Owned by: {{ folder.user.username }}</p>
                    <div>
                        <h3>Folder Image:</h3>
                        <img src="https://lime-rapid-mandrill-910.mypinata.cloud/ipfs/{{ folder.ipfs_hash }}" style="width: 200px; height: 200px;" alt="Generated Image">
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            {% if images %}
                            <div class="heading-section">
                                <h4><em>Most Popular</em> Right Now</h4>
                            </div>
                            <div class="row">
                                {% for image in images %}
                                <div class="col-lg-3 col-sm-6">
                                    <div class="item">
                                        <img id="myImg-{{ image.id }}" alt="Thumbnail" class="thumbnail" src="https://lime-rapid-mandrill-910.mypinata.cloud/ipfs/{{ image.ipfs_hash }}" alt="Generated Image">

                                        {% if image.user == request.user and not image.tx_hash %}
                                            <button onclick="handleMintNFT('{{ image.ipfs_hash }}', {{ image.id }})">Mint NFT</button>
                                        {% elif image.tx_hash and image.user != request.user %}
                                            <button onclick="handleBuyNFT('{{ image.ipfs_hash }}', {{ image.id }})">Buy NFT</button>
                                            {% elif not image.tx_hash and image.user != request.user  %}
                                            <b style="color: orange">Pending!</b>
                                        {% else %}
                                             <b style="color: green">on sale</b>
                                        {% endif %}
                                        <h4>Image Information</h4>
                                        <div class="actions" style="right: 10px; bottom: 10px;">
                                            <a href="javascript:void(0);" class="like-button" id="like-button-{{ image.id }}" data-id="{{ image.id }}" style="width: 20px;">
                                                <i class="fa-solid fa-thumbs-up"></i>
                                            </a>
                                            <span id="like-count-{{ image.id }}">{{ image.total_likes }}</span>
                                            <a href="javascript:void(0);" class="dislike-button" id="dislike-button-{{ image.id }}" data-id="{{ image.id }}" style="width: 20px;">
                                                <i class="fa-solid fa-thumbs-down"></i>
                                            </a>
                                            <span id="dislike-count-{{ image.id }}">{{ image.total_dislikes }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div id="myModal-{{ image.id }}" class="modal">
                                    <img class="modal-content" id="img01-{{ image.id }}">
                                </div>
                                {% endfor %}
                            </div>
                            {% else %}
                            <h1>Currently no images minted</h1>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let web3;
    let userAddress;
    
    async function connectMetaMask() {
        if (window.ethereum) {
            web3 = new Web3(window.ethereum);
            try {
                await window.ethereum.request({ method: 'eth_requestAccounts' });
                userAddress = window.ethereum.selectedAddress;
                console.log('Connected to MetaMask with address:', userAddress);
            } catch (error) {
                console.error('Error connecting to MetaMask:', error);
            }
        } else {
            alert('MetaMask is not installed. Please install it to use this app.');
        }
    }
    
    async function fetchContractData() {
        try {
            const response = await fetch('/get_contract_data/');
            return await response.json();
        } catch (error) {
            console.error('Error fetching contract data:', error);
            throw error;
        }
    }
    
    async function mintNFT(ipfsHash, contract, imageId) {
        console.log('Starting the mintNFT function');
        try {
            // Check if userAddress is defined
            if (!userAddress) {
                console.error('User address is not defined. Please connect to MetaMask.');
                throw new Error('User address is not defined. Please connect to MetaMask.');
            }
            console.log('User address:', userAddress);

            // Prepare to call the smart contract method
            console.log('Preparing to estimate gas');
            const gasEstimate = await contract.methods.createCollectable(`ipfs://${ipfsHash}`).estimateGas({from: userAddress});
            console.log('Gas estimate:', gasEstimate);

            // Construct the transaction object
            const tx = {
                from: userAddress,
                to: contract.options.address,
                gas: gasEstimate.toString(),  // Ensure it's a string if needed
                data: contract.methods.createCollectable(`ipfs://${ipfsHash}`).encodeABI()
            };
            console.log('Transaction object:', tx);

            // Request to send the transaction
            console.log('Sending transaction');
            const txHash = await window.ethereum.request({
                method: 'eth_sendTransaction',
                params: [tx],
            });
            console.log('Transaction hash:', txHash);
            alert(`Transaction sent: ${txHash}`);

            // Update the transaction hash on the server
            console.log('Updating transaction hash');
            await updateTransactionHash(imageId, txHash, userAddress);
            console.log('Transaction hash updated successfully');
        } catch (error) {
            console.error('Error minting NFT:', error);
            alert(`Error minting NFT: ${error.message || JSON.stringify(error)}`);
        }
    }
    
    
   async function buyNFT(ipfsHash, contract, imageId) {
    console.log('Starting the buyNFT function');
    try {
        if (!userAddress) {
            console.error('User address is not defined. Please connect to MetaMask.');
            alert('User address is not defined. Please connect to MetaMask.');
            return;
        }
        console.log('User address:', userAddress);

        const price = await contract.methods.price().call();
        console.log('Price:', price);

        const gasEstimate = await contract.methods.buyCollectable(`ipfs://${ipfsHash}`).estimateGas({ from: userAddress, value: price });
        console.log('Gas estimate:', gasEstimate);

        const tx = {
            from: userAddress,
            to: contract.options.address,
            gas: gasEstimate.toString(),
            value: price,
            data: contract.methods.buyCollectable(`ipfs://${ipfsHash}`).encodeABI()
        };
        console.log('Transaction object:', tx);

        const txHash = await window.ethereum.request({
            method: 'eth_sendTransaction',
            params: [tx],
        });
        console.log('Transaction hash:', txHash);
        alert(`Transaction sent: ${txHash}`);
        await updateTransactionHash(imageId, txHash, userAddress);
        console.log('Transaction hash updated successfully');
    } catch (error) {
        console.error('Error buying NFT:', error);
        alert(`Error buying NFT: ${error.message || JSON.stringify(error)}`);
    }
}
    
    async function handleMintNFT(ipfsHash, imageId) {
        if (!web3 || !userAddress) {
            alert('Connect with MetaMask first');
            return;
        }
    
        try {
            const data = await fetchContractData();
            const contract = new web3.eth.Contract(data.abi, data.address);
    
            await mintNFT(ipfsHash, contract, imageId);
        } catch (error) {
            console.error('Error handling NFT action:', error);
            alert(`Error: ${error.message}`);
        }
    }
    
    async function handleBuyNFT(ipfsHash, imageId) {
        if (!web3 || !userAddress) {
            alert('Connect with MetaMask first');
            return;
        }
    
        try {
            const data = await fetchContractData();
            const contract = new web3.eth.Contract(data.abi, data.address);
    
            await buyNFT(ipfsHash, contract, imageId);
        } catch (error) {
            console.error('Error handling NFT action:', error);
            alert(`Error: ${error.message}`);
        }
    }
    
    async function updateTransactionHash(imageId, txHash, ownerAddress) {
        try {
            const response = await fetch(`/update_image/${imageId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken') 
                },
                body: JSON.stringify({
                    tx_hash: txHash,
                    owner_address: ownerAddress
                })
            });
            if (!response.ok) {
                throw new Error('Failed to update transaction hash');
            }
        } catch (error) {
            console.error('Error updating transaction hash:', error);
        }
    }
    
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
    document.addEventListener("DOMContentLoaded", function() {
        {% for image in images %}
        var modal = document.getElementById("myModal-{{ image.id }}");
        var img = document.getElementById("myImg-{{ image.id }}");
        var modalImg = document.getElementById("img01-{{ image.id }}");
    
        img.onclick = function() {
            modal.style.display = "flex";
            modalImg.src = this.src;
        }
    
        modal.onclick = function(event) {
            if (event.target !== modalImg) {
                modal.style.display = "none";
            }
        }
        {% endfor %}
    });
    
    $(document).ready(function() {
        $('.like-button').click(function() {
            console.log("Like button clicked");
            var image_id = $(this).data('id');
            $.ajax({
                url: '/like_image/' + image_id + '/',
                type: 'POST',
                dataType: 'json',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    $('#like-count-' + image_id).text(response.total_likes);
                    $('#dislike-count-' + image_id).text(response.total_dislikes);
                    if (response.liked) {
                        $('#like-button-' + image_id).addClass('liked');
                        $('#dislike-button-' + image_id).removeClass('disliked');
                    } else {
                        $('#like-button-' + image_id).removeClass('liked');
                    }
                }
            });
        });
    
        $('.dislike-button').click(function() {
            console.log("Dislike button clicked");
            var image_id = $(this).data('id');
            $.ajax({
                url: '/dislike_image/' + image_id + '/',
                type: 'POST',
                dataType: 'json',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    $('#dislike-count-' + image_id).text(response.total_dislikes);
                    $('#like-count-' + image_id).text(response.total_likes);
                    if (response.disliked) {
                        $('#dislike-button-' + image_id).addClass('disliked');
                        $('#like-button-' + image_id).removeClass('liked');
                    } else {
                        $('#dislike-button-' + image_id).removeClass('disliked');
                    }
                }
            });
        });
    });
    
    connectMetaMask();
</script>

{% endblock %}